<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-title>
      Fazbears pizzas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/pizza1.png">
    </ion-thumbnail>
    <ion-label>PEPERONI
      <br>
      <br>
      Molho, mussarela e 
      <br>
      salame peperoni.
    </ion-label>
    <ion-badge color="amarelinho">$29</ion-badge>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="end">
      <img src="assets/pizza2.png">
    </ion-thumbnail>
    <ion-label>BRÓCOLIS C/ BACON
      <br>
      <br>
      Molho, mussarela,
      <br>
      bacon e brócolis.
    </ion-label>
    <ion-badge slot="start" color="amarelinho">$32</ion-badge>
  </ion-item>

  <ion-content [fullscreen]="true" color="Dark">

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/pizza3.png">
    </ion-thumbnail>
    <ion-label>MARGUERITA
      <br>
      <br>
      Molho, mussarela e 
      <br>
      manjericão.
    </ion-label>
    <ion-badge color="amarelinho">$25</ion-badge>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="end">
      <img src="assets/pizza4.png">
    </ion-thumbnail>
    <ion-label>DA CASA
      <br>
      <br>
      Molho, mussarela, 
      <br>
      calabresa, bacon, 
      <br>
      pimentão e tomate.
    </ion-label>
    <ion-badge slot="start" color="amarelinho">$32</ion-badge>
  </ion-item> 

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/pizza5.png">
      </ion-thumbnail>
      <ion-label>ESPECIAL
        <br>
        <br>
        Contém duas fatias
        <br>
        de cada sabor
        <br>
        acima.
      </ion-label>
      <ion-badge color="amarelinho">$36</ion-badge>
    </ion-item>
    <br>
    <br>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/funtime-foxy.png">
      </ion-thumbnail>
      <ion-label>Bom
        <br>
           apetite!
      </ion-label>
    </ion-item>

  

</ion-content>
